<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date +%Y-%m-%d` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; gen_fsm.erl &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>txt</string>
	<key>name</key>
	<string>gen_fsm</string>
	<key>scope</key>
	<string>text.erl</string>
	<key>uuid</key>
	<string>9A04A2C2-6506-4378-A686-A915306D389B</string>
</dict>
</plist>
